body {
  background: linear-gradient(30deg, #000000, #2a2b2c);
  color: #ffffff;
}

body.legal {
  background: linear-gradient(30deg, #1d1d1d, #000000, #2a2b2c);
}

.legalnotice {
  background: linear-gradient(30deg, #2c2c2c, #0080ff);
  padding: 3vw 3vw;
  border-radius: 1vw;

  max-width: 50vw;
}

.legalnotice h5 {
  font-size: 170%;
}

.legalnotice h6 {
  font-size: 130%;
}
